@import '../../styles/breakpoints.module.scss';

.container{
    display: flex;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-left: 30px;

    @media only screen and (max-width: $breakpoint-medium) {
        margin-top: 200px;
    }
    @media only screen and (max-width: $breakpoint-small) {
        margin-top: 160px;
    }
    @media only screen and (max-width: $breakpoint-smallest) {
        margin-top: 110px;
    }
}

.menuButton{
    color: #949EA0;
    cursor: pointer;
    margin-bottom: 35px;
    text-decoration: none;

    @media only screen and (max-width: $breakpoint-medium) {
        margin-bottom: 60px;
        font-size: 25px;
    }
    @media only screen and (max-width: $breakpoint-small) {
        margin-bottom: 50px;
        font-size: 20px;
    }
    @media only screen and (max-width: $breakpoint-smallest) {
        margin-bottom: 40px;
        font-size: 15px;
    }
}

.loginButton {
    color: #E19184;
    margin-bottom: 35px;
    cursor: pointer;
    text-decoration: none;

    @media only screen and (max-width: $breakpoint-medium) {
        margin-bottom: 60px;
        font-size: 25px;
    }
    @media only screen and (max-width: $breakpoint-small) {
        margin-bottom: 50px;
        font-size: 20px;
    }
    @media only screen and (max-width: $breakpoint-smallest) {
        margin-bottom: 40px;
        font-size: 15px;
    }
}

.newAccountButton{
    font-family: 'Ubuntu';
    background: linear-gradient(270deg, #ECBCB3 0%, #EAA79E 100%);
    box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
    border-radius: 50px;
    border: none;
    width: 140px;
    height: 40px;
    color: white;

    @media only screen and (max-width: $breakpoint-medium) {
        height: 60px;
        width: 200px;
        font-size: 25px;
    }
    @media only screen and (max-width: $breakpoint-small) {
        height: 50px;
        width: 160px;
        font-size: 20px;
    }
    @media only screen and (max-width: $breakpoint-smallest) {
        height: 35px;
        width: 120px;
        font-size: 15px;
    }
}