
.container {
    height: 500px;
    width: 100%;
    text-align: center;
    padding-top: 100px;
    color: white;
    overflow: hidden;
    background: #C04848;  /* fallback for old browsers */
    background: url('../../assets/pl-hero.svg'); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchTitle {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 40px;
    line-height: 40px;

    text-align: center;
}

.searchLabel {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 17px;

    text-align: center;

    color: #FFFFFF;

    mix-blend-mode: normal;
    opacity: 0.7;
}
.inputContainer{
    display: flex;
    justify-content: center;
    position: relative;
    width: 600px;
}

.searchInput {
    background: #FFFFFF;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    height: 70px;
    width: 100%;
    padding-left: 20px;
}

.searchInput::placeholder {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 18px;
    color: #949EA0;

    position: absolute;
    width: 260px;
    height: 20px;
    left: 20px;
    top: 25px;
}

.searchButton {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 25px;
}